DEBUG=True
SECRET_KEY=你的Django密钥

# 数据库基本信息
DB_NAME=travel_news
DB_USER=travel_user
DB_PASSWORD=user_password_replace_me
DB_ROOT_PASSWORD=root_password_replace_me
DB_HOST=127.0.0.1
DB_PORT=3306

# Django 数据库连接字符串
DATABASE_URL=mysql://travel_user:user_password_replace_me@127.0.0.1:3306/travel_news
